.card_wrapper {
    background: #FFF8EF;
    box-shadow: 0px 24px 42px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 146px;
    height: auto;
    padding: 8px;
}

.card_wrapper > img {
    border-radius: 10px;
    width: 130px;
    height: auto;
    margin-bottom: 5px;
}

.title {
    font-family: Faible;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.subTitle {
    font-family: Faible;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: rgba(0, 78, 76, 0.8);
    text-align: left;
}